<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <div>test</div>
    <div id ="app">
      <div>status : {{busy}}</div>
      <div>uri : {{uri}}</div>
      <div>title<input type="text" v-model="title"></div>
      <div>date<input type="text" v-model="date"></div>
      <div>path : {{path}}</div>
      <button @click="message">message</button>
      <button @click="subprocess">subprocess</button>
      <button @click="cp">custom-protocol</button>
    </div>
    <custom-tag name="hoge"/>
    <script>
      window.addEventListener('DOMContentLoaded', () => console.log("DOMContentLoaded") );
      window.addEventListener("load", () => console.log("load"));
    </script>
  </body>
  <script type="module">
    console.log("index.html")
    // function animationFramePromise() {
    //   return new Promise<number>((resolve) => {
    //     globalThis.requestAnimationFrame(resolve);
    //   });
    // }
    // function delay(ms) {
    //   return new Promise<number>((resolve) => {
    //     globalThis.setTimeout(resolve, ms);
    //   });
    // }

    // var timer = Date.now();
    // while (true) {
    //   await delay(1000);
    //   await animationFramePromise(); // この行で、次の更新タイミングまで待つ
    //   console.log(timer - Date.now()); //経過時刻を取得
    // }

    const app = window.Vue.createApp({
      setup() {
        const { fromEvent, filter } = window.rxjs;
        const busy = window.Vue.ref(false);
        const uri = window.Vue.ref('null');
        const title = window.Vue.ref('null');
        const date = window.Vue.ref('null');
        const path = window.Vue.computed(() => date.value + "_" + title.value);
        
        const message = () => {
          const dst = { type : "message", payload : "hoge" }
          window.ipc.postMessage(JSON.stringify(dst))
        }
        const subprocess = () => {
          const dst = { type : "process", payload : ["dotnet", "script ./test.csx" ] }
          window.ipc.postMessage(JSON.stringify(dst))
        }
        const cp = async () => {
          // WindowsではカスタムURLスキームは使えず，サブドメインにプロトコル書くらしい．
          let response = await fetch("http://wuzei.localhost/data", { method: "GET", })
          const reader = response.body.getReader();
          const chunk = await reader.read();
          console.log("fetch", chunk)

        }
        const newWindowReq$ = fromEvent(window.chrome.webview, 'newWindowReq');
        newWindowReq$.subscribe(async (e) => {
          // window.Wvvm.dispatch({ type : "dragAndDrop", payload: [e.detail.Uri] })
          // window.Wvvm.dispatch({ type : "message", payload: e.detail.Uri })
          // window.Wvvm.dispatch({ type : "changeText", payload: e.detail.Uri })
          uri.value = e.detail.payload;
          console.log('newWindowReq', e)
        });
        const namedPipe$ = fromEvent(window.chrome.webview, 'namedPipe');
        namedPipe$.subscribe(async (e) => {
          let src = JSON.parse(e.detail.payload);
          console.log('namedPipe', src);
          switch (src.type) {
            case 'status':
              busy.value = src.payload;
              break;
            case 'postjson':
              uri.value = src.payload.url;
              title.value = src.payload.title;
              date.value = src.payload.date;
              break;
            default:
          }

        });
        return {busy, uri, title, date, path, message, subprocess, cp}
      }
    }).mount('#app');
  </script>
</html>